.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  text-transform: uppercase;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  text-align: left;
}

.weather-app-details strong {
  color: #f65282;
}

.description {
  text-transform: capitalize;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  margin-top: 17px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
}

.weather-app-unit {
  vertical-align: super;
  margin-left: 5px;
  font-size: 28px;
}

.unit-link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #6b6b6bcc;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}
.forecast-temperature-min {
  opacity: 0.5;
}

@media screen and (max-width: 657px) {
  .weather-app {
    padding: 22px;
  }

  .weather-app-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-app-city {
    text-align: center;
  }

  .weather-app-details {
    text-align: center;
  }

  .weather-app-temperature {
    font-size: 70px;
  }

  .weather-app-unit {
    font-size: 20px;
  }

  .weather-forecast {
    margin-bottom: 30px;
  }

  .forecast-temperature {
    font-size: 14px;
  }
}
